@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero{
    background-color: #1f2937;
    height: 470px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    margin: 10px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.left{
    padding-left: 115px;
}

.left .title{
    font-size: 48px;
    color: #F9FAF8;
}
.left .sub-title{
    margin: 10px 10px 10px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.btn{
    color: white;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
}
#image-one{
    margin-right: 30px;
    margin-top: 50px;
    width: 300px;
}

.second{
    background-color: white;
    height: 450px;
}

#sub-header{
    color: #1f2937;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.container .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .box{
    border: 3px solid #3882f6;
    height: 150px;
    width: 100px;
    border-radius: 20%;
}

.product-image{
    width: 90px;
    height: 100px;
    margin-top: 30px;
}
.card-text{
    width: 100px;
    text-align: center;
    color: black;
}

.third{
    background-color: #E5E7EB;
}
